*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Exhibition_box{
    width: 100%;
    padding: 50px 0;
}
.Exhibition_box h1{
      font-size: 45px;
}
.Exhibition_box p{
    line-height: 1.5;
}
.Dropdown_box{
    margin: 50px 0 20px;
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}
.Exhibition_img{
    width: 100%;
    padding: 0px 100px 60px;
    display: flex;
    flex-wrap: wrap;
}
.Exhibition_img_list{
    width: 340px;
    height: 340px;
    padding: 20px;
    background-color:#F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.Exhibition_list_text{
    width: 340px;
   
    text-align: left;
}
.Exhibition_list_text h2{
    color: #333;
}
.Exhibition_list_text p{
    margin-bottom: 30px;
}